@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root {
    --lgreen: #4d9559;
    --mgreen: #38703d;
    --dgreen: #133917;
    --blur: rgba(50, 71, 52, 0.5);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    background: linear-gradient(190.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
  }

  body::-webkit-scrollbar {
    width: 0px;
  }



  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(50, 71, 52, 0.3);
  }

  .logo {
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .logo:hover {
    color: #85d192;
    transition: all 0.3s ease 0s;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #4d9559;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(77, 149, 89, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: auto;
  }
  
  .cta:hover {
    background-color: rgba(77, 149, 89, 0.5);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    left: auto;
    top: 0;
    right: 0;
    backdrop-filter: blur(50px);
    background-color: rgba(19, 57, 23, 0.3);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 35%;
  }
  
  .overlay__content {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 26px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: var(--lgreen);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  

  .container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
  }

  section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .features .card{
    backdrop-filter: blur(50px);
    background-color: var(--blur);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
  }

  .features .card:hover{
    background-color: rgba(77, 149, 89, 0.3);
    border-color: rgba(77, 149, 89, 0.3);
  }

  .features .card span{
    display: inline-block;
    background-color: var(--lgreen);
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #ffffff;
    border-radius: 5px;
  }

 .features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .features .card p{
    color: #ccc;
    margin-bottom: 1rem;
  }

  .features .card a{
    color: #fff;
    transition: all 0.3s ease;
  }

 .features .card a:hover{
    color: var(--lgreen);
  }

  footer{
    position: relative;
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    gap: 3rem;
    font-family: "Poppins", sans-serif;
}

footer .column p{
    color: #ccc;
    margin-bottom: 1rem;
}

footer .column div{
  color: #ccc;
  margin-bottom: 1rem;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: var(--lgreen);
}

footer .column .title:hover::after {
  margin: auto;
  display: inline-block;
  content: attr(data-tooltip);
  backdrop-filter: blur(50px);
  background-color: var(--blur);
  padding: .1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }

    footer .column .title{
        grid-template-columns: 1fr 200px;
    }
}

  @media (width < 900px){
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
      grid-template-columns: 1fr 200px;
  }
  }

  @media (width < 600px){
    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
      grid-template-columns: 1fr 150px;
  }
  }
